@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, button, a {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
}

body {
  line-height: 1.5;
  background-color: #0f0f0f;
  margin: 3rem 5% 3rem 5%;
  color: #c5c1c1;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "header-area"
    "nav-area"
    "main-area"
    "footer-area";
  gap: 5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header {
  grid-area: header-area;
  display: flex;
  justify-content: center;
  animation: topdown 700ms;
  width: 100%;
  min-height: 8rem;

  background-image: url("../assets/Artboard 22.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  grid-area: nav-area;
  animation: topdown 700ms;
  margin-top: -3rem;
}

nav ul {
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #c5c1c1;
  transition: border-bottom 200ms;
}

nav a:hover {
  border-bottom: .3rem solid #d0604c;
}

main {
  grid-area: main-area;
  animation: downtop 700ms 350ms backwards;
}

#promotion {
  margin-top: 2rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

#promotion div:nth-of-type(2) {
  background-color: #fff;
  color: #1e1e1e;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

#articles {
  display: flex;
  gap: 1rem;
}

#articles article {
  flex: 1;
  border-radius: 1.5rem;
  background-color: #1e1e1e;
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#articles article img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.6rem;
  transition: all 500ms;
  filter: brightness(0.5);
}

#articles article img:hover {
  transform: scale(1.02);
  opacity: .7;
  filter: brightness(1);
}

#articles article button {
  width: fit-content;
  padding: .5rem;
  background-color: #fff;
  color: #0f0f0f;
  border-radius: 1.5rem;
  transition: all 500ms;
}

#articles article button:hover {
  background-color: #f1e6e6;
  transform: scale(1.02);
  cursor: pointer;
}

footer {
  grid-area: footer-area;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  flex: 1;
}

footer div img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 12.5rem;
}

footer div p {
  text-align: end;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 625px) {
  header {
    background-image: url("../assets/Artboard 1.png");
    background-size: contain;
  }

  #promotion {
    flex-direction: column;
    gap: 2rem;
  }

  #articles {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    gap: 1.5rem;
  }

  footer div p {
    text-align: center;
  }
}